version: '3.1'

services:
  # Database
  docker_db: 
    image: mysql:8.0
    ports:
      - 3306:3306
    networks:
      - my_network
    secrets:
      - mysql_pass
      - mysql_user
    volumes:
      # - $PWD/mount/mysql:/var/lib/mysql
      - todo_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_USER_FILE=/run/secrets/mysql_user
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_pass
      - MYSQL_DATABASE=my_db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == manager]
  # Backend
  api_server:
    build:
      context: dockerBackend
      dockerfile: Dockerfile
    image: duckhai1/api_server:latest
    ports: 
      - 8080:8080
    networks:
      - my_network
    environment:
      - MYSQL_HOST=docker_db
    depends_on:
      - docker_db
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
  # Frontend
  todo_app:
    build:
      args:
        - APP_ENV=development
      context: dockerFrontendAngular
      dockerfile: Dockerfile
    image: duckhai1/todo_app:latest
    ports: 
      - 4200:80
    networks:
      - my_network
    depends_on:
      - api_server
    environment:
      - BACKEND_API_URL=host.docker.internal
      - BACKEND_API_PORT=8080
    deploy:
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
  visualizer:
    image: dockersamples/visualizer
    ports: 
      - 8888:8080
    networks:
      - my_network
    volumes:
      - //var/run/docker.sock://var/run/docker.sock
    deploy:
      placement:
        constraints: [node.role == manager]
networks:
    my_network:
        driver: overlay

secrets:
  mysql_user:
    file: ./secrets/mysql_user.txt
  mysql_pass:
    file: ./secrets/mysql_pass.txt

volumes:
  todo_db:
